*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
width: 900px;
margin: 0 auto;
}

.header{
    padding: 75px 0 0 0;
    margin: 0 0 105px 0;
}

.nav-list_item{
    list-style: none;
    display: inline-block;
    margin: 0 100px 0 0;
}

.nav-list_item-r {
    margin: 0;
}


.nav-list,
.article-list {
    font-size: 0;
    margin-bottom: 60px; 
}

.nav-list {
    text-align: center;
}

.nav-link,
.article-list_item_minititle{
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

.nav-link {
    display: block;
}


.nav-link:hover {
    background: gray;
    color: wheat;
}


section {
    padding-bottom: 70px;
}


.article {
    list-style: none;
    width: 420px;
    display: inline-block;
    margin: 0 0 50px 0;
    vertical-align: top;
}

.article-list_item_img {
    margin-bottom: 30px;
}


.article-r{
    margin-right: 60px;
}

.article-d {
    margin-bottom: 0;
}

.article-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.article-list_item_minititle {
    margin-bottom: 30px;
}

.article-text{
    font-size: 16px;
}


button{
    display: block;
    margin: auto;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: grey;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid grey;
}
button:hover {
    background: black;
    color:wheat;
}

