*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
width: 900px;
margin: 0 auto;
}

.header{
    padding: 50px 0 0 0;
    margin: 0 0 50px 0;
}

.nav-list_item{
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
}


.nav-list,
.article-list {
    font-size: 0;
}

.nav-list {
    text-align: center;
}

.nav-link,
.article-list_item_minititle{
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

.nav-link {
    display: block;
    margin-right: 70px;
}


.nav-link:hover {
    background: gray;
    color: wheat;
}


section {
    padding-bottom: 70px;
}


.article {
    list-style: none;
    width: 420px;
    display: inline-block;
    margin: 0 0 50px 0;
    vertical-align: top;
}

.article-r{
    margin-right: 52px;
}

.article-title {
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.article-list_item_minititle,
.article-text{
    font-size: 16px;
    margin: 15px 0 0 0;
}


button{
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: grey;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid grey;
}
button:hover {
    background: black;
    color:wheat;
}

