@import "./vars.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: var (--main-font);
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 1110px;
    padding: 30px 0 35px 0;
}

.logo-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #515151;
    font-size: 30px; 
    font-weight: 100; 
    font-family: var(--main-font);
    float: left;
}


.logo-link::first-letter {
    color: #1abc9c;
    font-size: 30px; 
}


h1 {
    margin: 0 auto;
}

.header-nav {
    display: block;
    float: right;
}

.nav-list-item {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 0 20px 0 0;
    list-style: none;
    float: left;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.nav-link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
    font-size: 14px; 
    font-weight: bold; 
    font-family: var(--main-font);
}

.nav-link:hover{
    background-color: transparent;
    color: #1abc9c;
}

.slider {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider-img {
    display: block;
}

.slider-container {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0, .4);
    
}

.slider-menu {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1110px;
}

.slider-button {
    position: absolute;
    display: inline-block;
    border: none;
    width: 105px;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
}

.slider-button-prev {
    background-image: url(../img/<.png);
    left: 0;
}

.slider-button-next {
    background-image: url(../img/>.png);
    right: 0;
}

.slider-button:hover {
    background-color:  #1abc9c;
}

.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides-text-title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400; 
    font-family: var(--main-font);
}

.slides-text {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-weight: 100; 
    font-family: var(--main-font);
}

.products-wrapper {
    background-color: var(--product-section-bg-color);
    padding: 102px 0;
}

.section-title{ 
    margin-bottom: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
    font-size: 48px;
    font-weight: 900;
    font-family: var(--main-font);
    margin-bottom: 91px;
}

.section-title::after {
    content: "";
    border-bottom: 2px solid #1abc9c;
    background-color: #1abc9c;
    display: block;
    height: 10px;
    width: 165px;
    margin: 0 auto;
    margin-top: 32px;
}


.product-list-item{
    box-sizing: border-box;
    list-style: none;
    width: 255px;
    margin: 0 30px 0 0;
    vertical-align: top;
    float: left;
}


.product-list-item:nth-child(4n) {
    margin-right: 0;
}

.product-list-item:nth-child(n+4) {
    margin-bottom: 0;
}

.product-img{
    box-sizing: border-box;
    background-color: #e9f0fd;
    display: block;
}

.product-img_cont {
    position: relative;
}

.product-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 10px solid #ffffff;
    text-align: center;
    background-color: rgba(0,0,0, .4)
}

.product-buyer-menu {
    position: absolute;
    top: 80px;
    left: 35px;
    display: block;
    background-color: transparent;
    width: 170px;
    height: 110px;
}

.buyer-menu-small-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    float: left;
}

.buyer-menu-small-button:nth-child(3n){
    margin-right: 0;
}

.buyer-menu-small-button:hover {
    background-color: #1abc9c;
}

.cart {
    width: 170px;
    height: 50px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.cart-text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    vertical-align: center;
}

.cart:hover {
    background-color: #1abc9c;
}

.product-name-link,
.product-price{
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;  
    font-weight: 900;
    font-family: var(--main-font);
    float: left;
}

.product-name-link{
    width: 200px;
    height: 40px;
    background-color: #323232;
} 

.product-price {
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
}

.product-list-item:hover .product-overlay {
    display: block;
}

.product-list-item:hover .product-name-link {
    background-color: #1abc9c;
}

.product-list-item:hover .product-price {
    background-color: #7fd9c7;
}

.products {
    padding-bottom: 105px;
}

.footer {
    width: 1280px;
    height: 88px;
    background-color: #323232;
    text-align: center;
}

.footer-text {
    margin: 0 auto;
    padding-top: 34px;
    color: #ffffff;
}

.footer-designed {
    list-style: none;
    color: #1abc9c    
}
