.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 24rem;
    padding: 2rem 1rem 1.5rem 1rem;
}


.hero-info-title {
    width: 85.94%;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: 700;
    color: var( --info-section-font-color);
    text-align: center;
}

.hero-info-decription {
    width: 85.94%;
    font-family: var(--semi-font);
    font-size: 1.8rem;
    font-weight: 300;
    color: var( --info-section-font-color);
    text-align: center;
}

.find-partners {
    color: var(--info-section-font-color);
    background-color:#ff4e50;
    border: none;
}