.masthead-wrapper {
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url(../../img/banner.png) center/cover no-repeat;
}

.info-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    height: 13rem;
}

.nav-list {
    width: 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--info-section-font-color);
}

.logo-link {
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--info-section-font-color);
    text-align: center;
}
