@import "./fonts.css";
@import "./vars.css";
@import "./libs/utils.css";
@import "./components/info-section.css";
@import "./components/hero-info.css";
@import "./components/partners.css";

* { 
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

*,
* ::before, *::after {
    box-sizing: inherit;
}


